<ServerConfiguration>
  <!--How many clients can be connected concurrently-->
  <MaximumConnections>2</MaximumConnections>

  <!--Which port to register the server on-->
  <Port>9050</Port>

  <!--The update interval in milliseconds-->
  <UpdateInterval>15</UpdateInterval>

  <!--The password required for connecting clients-->
  <!--NOTE: This is stored in plain text, so DO NOT use it for anything else-->
  <Password></Password>

</ServerConfiguration>
